.card{
   width: 80%;
   border-radius: 200px;
}
.card-img-top{
    border-radius: 200px;
}

/* font-family: 'Poiret One', cursive;
font-family: 'Reenie Beanie', cursive;
font-family: 'Major Mono Display', monospace;
font-family: 'Annie Use Your Telescope', cursive; */