.score {
    font-family: 'Reenie Beanie', cursive;
    font-size: 40px;
    margin-left: 40px;
    color: rgb(255, 37, 121)
}

/* font-family: 'Poiret One', cursive;
font-family: 'Reenie Beanie', cursive;
font-family: 'Major Mono Display', monospace;
font-family: 'Annie Use Your Telescope', cursive; */