
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.score {
    font-family: 'Reenie Beanie', cursive;
    font-size: 40px;
    margin-left: 40px;
    color: rgb(255, 37, 121)
}

.container{
    margin-bottom: 150px;
}



/* font-family: 'Poiret One', cursive;
font-family: 'Reenie Beanie', cursive;
font-family: 'Major Mono Display', monospace;
font-family: 'Annie Use Your Telescope', cursive; */